
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test</h2>
<br />
<h1 style="color:darkcyan">Merhaba Dünya</h1>

<a href="/Home/Test2" class=" btn btn-primary">Test 2'ye gidivi</a>